# Node modules and build artifacts
node_modules
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
.env
*.env.*

# Testing
coverage
__tests__

# Local dev configs
.vscode
*.local
*.swp
*.swo
.env.production


# Git files
.git
.gitignore

# Docker files
Dockerfile*
.dockerignore


